body {
    padding: 0;
    margin: 0;
    font: 16px normal Helvetica, Arial, sans-serif;
}

main.flex-container {
    justify-content: flex-start;
    height: 100%;
    font-size: 85%;
    padding-top: 4em;
}

main.box {
    background: #ECF9F0;
}

h1 {
    text-align: center;
}

menu,
nav {
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

a.navlink {
    color: #fff;
    display: inline-block;
    margin: 0.5em;
    text-decoration: none;
}

header,
footer {
    width: 100%;
    height: 4em;
    background-color: #999;
    position: fixed;
    z-index: 1;
}

header {
    top: 0;
    opacity: 0.8;
}

footer {
    opacity: .8;
    bottom: 0;
    height: 2em;
}

section,
p {
    line-height: 160%;
    margin: 0.5em 0;
}

.box {
    box-shadow: 1px 1px 1px 1px;
    padding: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 0.5em;
}

section.box {
    width: 90%;
    max-width: 40em;
    min-width: 18em;
    padding: 1em;
    margin-bottom: .5em;
    background: rgba(211, 211, 211, 0.9)
}

section.box.search-form {
    min-height: 20em;
    margin: auto;
}

section#flightDetails {
    margin: 0 auto 3em;
    min-width: 40%;
    min-height: inherit;
}

#flightResults {
    margin-bottom: 3em;
    width: 95%;
}

#flightResults > div {
    width: 100%;
}
#flightResults > div > section {
    margin-left: auto;
    margin-right: auto;
}

.search-form select {
    font-size: 1rem;
    max-width: 12em;
}

select,
input,
button {
    font-size: 110%;
    margin: 0.5em 0;
    padding: 0.2em;
}

input[type="submit"] {
    display: block;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 0.3em;
    background: rgb(227, 227, 239);
}

label {
    display: inline-block;
    min-width: 3em
}

p > span {
    /*margin-right: 3em; min-width: 30em;*/
    display: inline-block;
}

section.box {
    position: relative;
    min-height: 6em;
}

section.leg {
    border-bottom: 1px solid #666;
    border-top: 2px solid #333;
}

.price {
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    right: 1em;
    top: .3em;
    color: #9E1F1A;
}

.price-detail {
    text-align: right;
    margin-left: 65%;
    min-width: 6em;
    background-color: #fff;
    padding: 0.5em;
    border: solid 1px #666;
}

.price-detail p {
    margin: 0.5em 0;
}

.airline {
    display: inline-block;
    font-size: 66%;
    border-radius: 0.5em;
    border: 1px solid #eee;
    padding: .2em;
    background-color: #bbb;
    color: #eee;
    line-height: 140%;
}

.flight-leg {
    margin: 0;
}

.time {
    font-size: 80%;
    color: #666;
}

.select-flight {
    position: absolute;
    right: 1em;
    bottom: 0;
    border: 1px solid #666;
    border-radius: .3em;
    padding: .1em .3em;
    box-shadow: 1px 1px 1px 1px #7B2525;
    color: #F5EDE2;
    background-color: #AF2E2E;
}

.select-flight:hover {
    background-color: #DE1818;
    border-width: 2px;
    cursor: pointer;
}

div[id$='-container'] {
    min-width: 18em;
    display: inline-block;
    padding: 0 1em;
    border: 1px solid transparent;
}

div[id$='-container'].error {
    border: 1px solid #9E1F1A;
}

div[id$='-container'].error::after {
    color: #9e1f1a;
    content: "!";
    display: inline-block;
    font-size: 2em;
    margin-left: 0.5em;
}

.backgroundImage,
.backgroundImage-home {
    position: fixed;
    top: 4em;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.5;
}

.backgroundImage-home {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
    background: #a7cfdf;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a7cfdf), color-stop(100%, #23538a));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #a7cfdf 0%, #23538a 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

img.loader {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
}

#flightDetails {
    display: none;
}

#flightDetails.flex-container {
    display: flex;
}

#flightDetails.flex-container > div {
    width: 100%;
}
