#chartContainer {
    background: url('/images/plane-new.png') no-repeat;
    width: 100%;
    height: 100%;
    min-height: 1450px
}

text {
    color: #666;
}

rect.available:hover,
rect.available.selected {
    fill: #E6E6C7;
    cursor: pointer;
}

#selectedSeats {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 0.2em;
    position: fixed;
    top: 1em;
    right: 1em;
    display: none;
}