body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
    box-shadow: 1px 1px 1px 1px;
    padding: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 0.5em;
}
section:nth-child(even) {
    background: #f1f1f1;
}