body {
  padding: 50px;
  font: 16px normal Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
    box-shadow: 1px 1px 1px 1px;
    padding: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 0.5em;
}
section.box {width: 50%; padding: 1em; margin-bottom: .5em; background: #ECF9F0;} 
select {
    font-size: 1rem;
}
select, input, button {
    font-size: 110%;
    margin: 0.5em 0;
    padding: 0.2em;
}
input[type="submit"] {
    display: block;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 0.3em;
    background: rgb(227, 227, 239);
}
label {display: inline-block; min-width: 3em}
p > span { /*margin-right: 3em; min-width: 30em;*/ display: inline-block;}
section.box {position: relative;}
.price {
    font-size: 120%;
    font-weight: bold;
    position: absolute;
    right: 1em;
    top: .3em;
    color: #9E1F1A;
}
.airline {display: inline-block;
    font-size: 66%;
    border-radius: 0.5em;
    border: 1px solid #eee;
    padding: .2em;
    background-color: #bbb;
    color: #eee;
    }
.flight-leg {margin: 0;}
.time {font-size: 80%; color: #666;}