body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
    box-shadow: 1px 1px 1px 1px;
    padding: 0.2em;
    margin-bottom: 0.2em;
    border-radius: 0.5em;
}
section:nth-child(even) {
    background: #f1f1f1;
}
select {
    font-size: 1rem;
}
select, input, button {
    font-size: 110%;
    margin: 0.5em 0;
    padding: 0.2em;
}
input[type="submit"] {
    display: block;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 0.3em;
    background: rgb(227, 227, 239);
}